# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.quick-setup.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\mruee\Documents\Projects\VersionControl\Unity\quick-setup\.idea\.idea.quick-setup\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
